* {
    box-sizing: border-box;
  }

  h1 {
   color: coral;
    text-align: center;
 
  }
  body{

background-image: url(https://coolbackgrounds.io/images/backgrounds/white/white-triangle-369b8d2d.jpg);

  }
  img {
  
    display: inline-block;
  
    width: 200px;
    padding: 4px;
    height: 180px;
    background-color:#cce5ff;
    margin-top: 2px;

  }
  
  #container {
  
    padding-left: 200px;
  
    border: 2px solid coral;
  
    width: 1000px;
  
    margin: 0 auto;
  
    height: 20%px;
  
  }

  #button {
    margin-left: 50%;
    background-color:#cce5ff;
  
  }
 

  ul {
      margin-left: 25%;
      width: 50%;
      text-align: center;
    
    padding: 20px;
    list-style: square inside ;
  }
  ul li {
    background: #cce5ff;
    margin: 5px;
  }
  p{

text-align: center;
font-style: italic;
font-size: large;
font-family: 'Courier New', Courier, monospace;
  }

  

   